In [3]:
import tensorflow as tf 
from tensorflow.keras.models  import load_model
import pickle 
import pandas as pd
import numpy as np

In [4]:
model = load_model(r"C:\Users\dell\first_ann\model.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [8]:
with open('one_hot_encoder_geo.pkl','rb') as file : 
    onehot_encoder_geo = pickle.load(file)
with open('label_encoder_gender.pkl','rb') as file : 
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl','rb') as file : 
    scaler = pickle.load(file)

In [71]:

input_data = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 50000


}

In [72]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 40,
 'Tenure': 3,
 'Balance': 60000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000}

In [73]:
df = pd.DataFrame([input_data])

In [74]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [75]:
ohe = onehot_encoder_geo.transform(df[['Geography']])
ohe.toarray().shape

(1, 3)

In [76]:
geo_df = pd.DataFrame(ohe.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [77]:
df['Gender_encoded'] = label_encoder_gender.transform(df.Gender)

In [78]:
df = pd.concat([df,geo_df],axis=1)

In [83]:
df.drop(columns=['Gender','Geography'],inplace=True)

In [85]:
x_test = scaler.transform(df)

In [87]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_encoded,Geography_France,Geography_Germany,Geography_Spain
0,600,40,3,60000,2,1,1,50000,1,1.0,0.0,0.0

In [88]:
prediction = model.predict(x_test)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 195ms/step

In [90]:
prediction[0][0]

np.float32(0.024225501)